.content {
  box-shadow: inset 3px 3px 5px rgba(135, 135, 136, 0.3),
    inset -3px -3px 5px rgba(135, 135, 136, 0.3);
}

.saveButtonEnabe{
  border: 2px solid gray;
}

.saveButtonEnabe:hover{
  border-color: white;
}

.saveButtonDisable{
  background-color: white;
  color: black;
  cursor: not-allowed;
}