.modal {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: inset 5px 5px 5px rgba(135, 135, 136, 0.3),
    inset -5px -5px 5px rgba(135, 135, 136, 0.3);
}

.closeButton {
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
}

.closeButton:hover {
  transform: scale(1.03);
}
