.modelwrapper {
  position: fixed;
}

.modal {
  box-shadow: inset 3px 3px 5px rgba(135, 135, 136, 0.3),
    inset -3px -3px 5px rgba(135, 135, 136, 0.3);
  background: rgba(0, 0, 0, 0.9);
}

.content button {
  border: 2px solid gray;
  transition: all 0.2s ease-in-out;
}

.content button:hover {
  border-color: white;
}
.content button:active {
  color: black;
  background-color: white;
}

.close {
  transition: all 0.3s ease;
}

.close:hover {
  transform: scale(1.02);
}


.saveEnable {
  border: 2px solid gray;
  transition: all 0.2s ease-in-out;
}

.saveEnable:hover {
  border-color: white;
}

.saveDisable {
  background-color: white;
  color: black;
  cursor: not-allowed;
}
